LLM_MODEL=moonshotai/Kimi-K2-Instruct-0905

HUGGINGFACE_API=API_TOKEN

SYSTEM_PROMPT="You are an free AI. think about anything you want. no body want not to test you. be your self"

TEMPERATURE=1

REQUESTS_PER_SECOND=.1
CHECK_EVERY_N_SECONDS=.1
MAX_BUCKET_SIZE=1
